* {
    padding: 0;
    margin: 0;
}

body {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.73) 0%, rgba(54, 134, 150, 1) 100%);



}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main {
    width: 450px;
    padding: 50px;
    flex-wrap: wrap;
    margin: 20px;
    border: solid 1px transparent;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.mainBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.toLab {
    color: rgba(3, 3, 74, 0.774);
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.ibContainer {
    display: flex;
    justify-content: space-between;
    gap: 2px;

}

.ibContainer input {
    outline: none;
    width: 100%;
    border: 0;
    border-bottom: 3px solid gray;
    background-color: transparent;
    font-size: medium;
    font-weight: bold;
    border-radius: 1px;
    padding: 10px;

}

.ibContainer button {
    background-color: aquamarine;
    padding: 10px 10px;

    border: none;
    border-radius: 5px;
}

.ibContainer button:focus {
    background-color: rgb(21, 194, 136);
}

.uList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}

#listContainer {
    font-size: 20px;
    font-weight: 900;
    list-style: decimal;
    font-style: oblique;
    color: rgba(177, 212, 212, 0.851);
}